source/.phpunit.result.cache
source/coverage
source/.phpdoc/

source/source/static/
source/source/configuration/configure.php
source/complexity.html
source/source/cache/

dev/api/.phpunit.result.cache
dev/api/coverage

dev/frontend/.nyc_output/

docker_volumes/mysql_data
docker_volumes/node_modules
docker_volumes/vendor/
docker_volumes/cache/
