services:
  base: &base
    image: tent
    volumes:
      - ./source/source:/home/app/app/source
      - ./source/composer.json:/home/app/app/composer.json
      - ./source/composer.lock:/home/app/app/composer.lock
      - ./source/phpcs.xml:/home/app/app/phpcs.xml
      - ./source/tests:/home/app/app/tests

  base_build:
    <<: *base
    container_name: tent_build
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.tent
    image: darthjee/tent
    command: echo done

  ###################
  # Services

  tent_tests:
    depends_on: [base_build]
    container_name: tent_tests
    <<: *base
    environment:
      - PHP_ENV=test
      - TEST_SERVER_DOMAIN=tent_app
    command: /bin/bash
    links:
      - tent_app:tent_app

  tent_app:
    depends_on: [base_build]
    container_name: tent_app
    <<: *base
    ports:
      - 127.0.0.1:8080:80
    environment:
      - PHP_ENV=development
    command: apache2-foreground
