services:
  base: &base
    image: darthjee/dev_tent
    volumes:
      - ./docker_volumes/vendor:/home/app/app/vendor
      - ./source:/home/app/app

  base_build:
    <<: *base
    container_name: tent_build
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.dev_tent
    command: echo done

  ###################
  # Services

  tent_tests:
    depends_on: [base_build, weave_httpbin, api_dev]
    container_name: tent_tests
    <<: *base
    environment:
      - PHP_ENV=test
      - TEST_SERVER_DOMAIN=tent_app
    command: /bin/bash
    links:
      - tent_app:tent_app
      - weave_httpbin:httpbin
      - api_dev:api_dev

  tent_app:
    depends_on: [base_build, weave_httpbin, api_dev]
    container_name: tent_app
    <<: *base
    ports:
      - 127.0.0.1:8080:80
    environment:
      - PHP_ENV=development
    command: apache2-foreground
    links:
      - weave_httpbin:httpbin
      - api_dev:api_dev

  api_dev:
    depends_on: [base_build]
    container_name: api_dev
    <<: *base
    volumes:
      - ./docker_volumes/vendor:/home/app/app/vendor
      - ./api_dev:/home/app/app
    ports:
      - 127.0.0.1:8040:80
    command: apache2-foreground

  weave_httpbin:
    image: kennethreitz/httpbin
    container_name: weave_httpbin
    ports:
      - 127.0.0.1:3060:80
