services:
  base: &base
    image: tent
    volumes:
      - ./docker_volumes/vendor:/home/app/app/vendor
      - ./source:/home/app/app

  base_build:
    <<: *base
    container_name: tent_build
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.tent
    image: darthjee/tent
    command: echo done

  ###################
  # Services

  tent_tests:
    depends_on: [base_build, weave_httpbin]
    container_name: tent_tests
    <<: *base
    environment:
      - PHP_ENV=test
      - TEST_SERVER_DOMAIN=tent_app
    command: /bin/bash
    links:
      - tent_app:tent_app
      - weave_httpbin:httpbin

  tent_app:
    depends_on: [base_build, weave_httpbin]
    container_name: tent_app
    <<: *base
    ports:
      - 127.0.0.1:8080:80
    environment:
      - PHP_ENV=development
    command: apache2-foreground
    links:
      - weave_httpbin:httpbin

  weave_httpbin:
    image: kennethreitz/httpbin
    container_name: weave_httpbin
    ports:
      - 127.0.0.1:3060:80
