services:
  api_dev_mysql:
    image: mysql:9.3.0
    container_name: api_dev_mysql
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: tent
    volumes:
      - ./docker_volumes/mysql_data:/var/lib/mysql

  base: &base
    image: darthjee/dev_tent
    volumes:
      - ./docker_volumes/vendor:/home/app/app/vendor
      - ./source:/home/app/app

  base_build:
    <<: *base
    container_name: tent_build
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.dev_tent
    command: echo done

  ###################
  # Services

  tent_tests:
    depends_on: [base_build, tent_httpbin, api_dev]
    container_name: tent_tests
    <<: *base
    environment:
      - PHP_ENV=test
      - TEST_SERVER_DOMAIN=tent_app
    command: /bin/bash
    links:
      - tent_app:tent_app
      - tent_httpbin:httpbin
      - api_dev:api_dev

  tent_app:
    depends_on: [base_build, tent_httpbin, api_dev]
    container_name: tent_app
    <<: *base
    ports:
      - 127.0.0.1:8080:80
    environment:
      - PHP_ENV=development
    command: apache2-foreground
    links:
      - tent_httpbin:httpbin
      - api_dev:api_dev

  api_dev:
    depends_on: [base_build, api_dev_mysql]
    container_name: api_dev
    <<: *base
    volumes:
      - ./docker_volumes/vendor:/home/app/app/vendor
      - ./api_dev:/home/app/app
    ports:
      - 127.0.0.1:8040:80
    links:
      - api_dev_mysql:mysql
    command: apache2-foreground
  
  api_dev_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: api_dev_phpmyadmin
    depends_on: [api_dev_mysql]
    links:
      - api_dev_mysql:mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: api_dev
      MYSQL_PASSWORD: api_dev
    ports:
      - 127.0.0.1:3050:80

  tent_httpbin:
    image: kennethreitz/httpbin
    container_name: tent_httpbin
    ports:
      - 127.0.0.1:3060:80
